{% extends 'base.html.twig' %}

{% block title %}Dj index{% endblock %}

{% block body %}
    <h1>Dj index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Style</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dj in djs %}
            <tr>
                <td>{{ dj.id }}</td>
                <td>{{ dj.nom }}</td>
                <td>{{ dj.style }}</td>
<td>
    <a href="{{ path('app_dj_show', {'id': dj.id}) }}">show</a>
    <a href="{{ path('app_dj_edit', {'id': dj.id}) }}">modifier</a>

    <form method="post"
          action="{{ path('app_dj_delete', {'id': dj.id}) }}"
          onsubmit="return confirm('Supprimer ce DJ ?');"
          style="display:inline-block">

        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dj.id) }}">

        <button class="btn btn-danger btn-sm" type="submit">
            Supprimer
        </button>
    </form>
</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">y en a pas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dj_new') }}">ajouter un nouveau dj</a>
{% endblock %}
